{% extends "base.html" %}
{% load static %}

{% block css_content %}

<link rel="stylesheet" href="{% static "css/create.css" %}">

{% endblock %}


{% block main_content %}
<div class="container">
  <h1>Create New Book</h1>
  <form action="/post_create/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Title:
            <input type="text" name="title" value="" required>
          </label>
        </div>
        <div class="medium-6 cell">
          <label>Icon:
            <input type="file" name="icon" id="icon" accept="png" required>
          </label>
        </div>
      </div>
    </div>
    <hr>
    <div class="audio_settings">
      <div class="center">
        <button class="add-button button" id="addAudioBtn" type="button">Add Audio Clips</button>
        <button class="remove-button button" id="removeAudioBtn" type="button">Remove Audio Clips</button>
      </div>
    </div>
    <ul id="audioFieldList">
      <li id="audio_0" class="audio_form_field">
        <label>Audio File 1:
          <input class="audio-input" type="file" name="0" id="0" accept="mp3" required>
        </label>
      </li>
    </ul>
    <hr>

    <input type="submit" class="button large expanded" name="" value="Create New Book">
</div>

{% endblock %}

{% block js_content %}
<script>
  var audioFieldNum = 1;

  function addAudioField() {
    var ul = document.getElementById("audioFieldList");
    var li = document.createElement("li");
    li.innerHTML =
      `<hr><label>Audio File ${audioFieldNum+1}:<input class="audio-input" type="file" name="${audioFieldNum}" id="${audioFieldNum}" required></label>`;
    li.setAttribute("id", `audio_${audioFieldNum}`);
    li.setAttribute("class", "audio_form_field");
    ul.appendChild(li);
    audioFieldNum++;
  }

  function removeAudioField() {
    if (audioFieldNum > 1) {
      audioFieldNum--;
      var li = document.getElementById(`audio_${audioFieldNum}`);
      li.remove();
    }
  }

  document.getElementById("addAudioBtn").addEventListener("click", addAudioField);

  document.getElementById("removeAudioBtn").addEventListener("click", removeAudioField);
</script>

{% endblock %}