{% extends "base.html" %}
{% load static %}

{% block css_content %}

<link rel="stylesheet" href="{% static "css/panel.css" %}">

{% endblock %}


{% block main_content %}
<div class="container">
  <h1>Your Books</h1>
  <div class="grid-container">
    <div class="grid-x grid-margin-x small-up-2 medium-up-3">
      {% if books_details.items|length == 0 %}
      <a class="button large expanded" href="{% url 'create' %}">No Books, Create New Book</a>
      {% endif %}
      {% for book_label, book in books_details.items %}
        <div class="card">
          <div class="cell">
          <div class="card-icon">
            <a href="{% url 'player' book.code %}"><img style="width: 200px;" src="{{ book.url }}" alt="Image not found"
                onerror="this.src='https://images.unsplash.com/photo-1589532768434-a92c95dad7cb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmlsZSUyMHVwbG9hZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60';" /></a>
          </div>
          <div class="card-section">
            <h4 class="card-title"><a href="{% url 'player' book.code %}"></a>{{ book.title }}</a></h4>
            {% if book.uploading %}
            <span class="card-desc">Uploading...</span>
            {% endif %}
            <span class="card-time">Current Location: {{ book.loc }}</span>
            <!-- <div class="product-card-colors">
        </div> -->
            <form action="{% url 'postDeleteBook' %}" method="POST" onsubmit="return confirm('Do you really want to delete {{ book.title }}?');">
              <a href="{% url 'player' book.code %}" class="button">Open</a>
              {% csrf_token %}
              <input type="hidden" name="bookCode" value="{{book.code}}">
              <button class="alert button">Delete</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}