
{% extends "base.html" %}
{% load static %}

{% block css_content %}

<link rel="stylesheet" href="{% static "css/signup.css" %}">

{% endblock %}


{% block main_content %}


<div class="container">

  <form class="callout text-center" method="POST" action="/postSignUp/">
    <h2>Sign Up</h2>
    <div class="floated-label-wrapper">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Name">
    </div>
    <div class="floated-label-wrapper">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email">
    </div>
    <div class="floated-label-wrapper">
      <label for="pass">Password</label>
      <input type="password" id="pass" name="pass" placeholder="Password">
    </div>
    {% if messg %}
      <p>{{ messg }}</p>
    {% endif %}
    <input class="button expanded" type="submit" value="Sign In">
    <p class="text-center"><a class="signin-btn" href="{% url "signUp" %}">Sign In</a></p>
  </form>
</div>
{% endblock %}
