.audio_form_field {
    list-style-type: none;
    background: #2c3840;
    padding: .1em;
    margin: 0;
}
.audio-input {
    margin: 0;
}
#audioFieldList {
    margin-left: 0;
}
.button {
    background-color: #2c3840;
}

.button:hover {
    background-color: #414b53;
}
.button:focus {
    background-color: #414b53;
}
.add-button {
    background-color: #2c3840;
}

.remove-button {
    background-color: #2c3840;
}

.audio_form_field label {
    color: antiquewhite;
    font-size: large;
    font-weight: bold;
}

.audio_settings {
    height: 50px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 45px;
    font-weight: bold;
    color: #2c3840;
}